@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
.ui {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

body {
    margin: 0;
    overflow: hidden;
}

button {
    font-family: 'Russo One', sans-serif;
    font-size: x-large;
    font-weight: 400;
    font-style: normal;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: aliceblue;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    text-shadow: 4px 4px 5px #161618;
    /* box-shadow:
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12),
        0 1px 5px 0 rgba(0, 0, 0, 0.2); */
    transition: all 0.2s;
}

button:hover {
    cursor: pointer;
}

.btn-mini {
    color: #161618;
    font-size: 25px;
    height: 50px;
    width: 50px;
    outline: none;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
}

.btn-normal{
    padding: 8px 8px;
}

/* Статистика */
#stats {
    left: 1vw;
}
